.chart-container {
  color: #fff;
  width: 600px;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.time-button {
  border: none;
  background-color: rgb(97, 97, 97);
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.time-button:hover {
  background-color: rgb(71, 71, 71);
  color: white;
}

label {
  font-size: 30px;
}
canvas {
  color: white;
}

.percentGreen {
  color: rgb(136, 245, 47);
  font-size: 20px;
}

.percentRed {
  font-size: 20px;
  color: #bb2121;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .chart-price {
    text-align: center;
    margin-top: 3rem;
  }
}

@media only screen and (min-device-width: 350px) and (max-device-width: 768px) {
  .chart-price {
    text-align: center;
  }
}
