.home-page {
  min-height: 900px;
  background-color: #1f1f38;
  background-image: url(../assets/bg-texture.png);
}

.homePage-container {
  display: flex;
  justify-content: center;
}

.coinList {
  width: 70%;
}
